$primary   : #202124;
$secondary : #E5E5E5;
$accent    : #D4E660;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
